@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Fonts */
    --title: 'Playfair Display', serif;
    --sub-title: 'Halant', serif;
    --main-font: 'Roboto', serif;

    /* Colours */
    --black: #000;
    --white: #fff;
    --off-white: #f6f6f6;

    /* Utils */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: #f2c6ac;
}

/* Footer */
footer {
    flex-shrink: 0;
}

/* Header */
.navbar {
    background-color: #d9d9d7;
    box-shadow: var(--small-box-shadow);
}

a.navbar-brand {
    width: 30%;
}

a.nav-link {
    color: #592c12;
}

img.logo {
    width: 100%;
}