{% load static %}

<footer>
    <a href="https://www.linkedin.com/" target="_blank" rel="noopener" aria-label="Visit our LinkedIn page - Opens in a new tab">
        <img src="{% static 'icons/linkedin-brands-solid.svg' %}" alt="LinkedIn icon" class="social-icon">
    </a>
    <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit our Facebook page - Opens in a new tab">
        <img src="{% static 'icons/square-facebook-brands-solid.svg' %}" alt="Facebook icon" class="social-icon">
    </a>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page - Opens in a new tab">
        <img src="{% static 'icons/square-instagram-brands-solid.svg' %}" alt="Instagram icon" class="social-icon">
    </a>
    <a href="https://x.com/" target="_blank" rel="noopener" aria-label="Visit our Twitter page - Opens in a new tab">
        <img src="{% static 'icons/square-twitter-brands-solid.svg' %}" alt="Twitter icon" class="social-icon">
    </a>
    <a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Visit our YouTube page - Opens in a new tab">
        <img src="{% static 'icons/square-youtube-brands-solid.svg' %}" alt="YouTube icon" class="social-icon">
    </a>
</footer>