{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Post Detail - {{post.title}}{% endblock %}

{% block content %}

<div class="container">
    <div class="card p-3 my-3">
        {% if not post.approved and post.user == user %}
        <div class="card-body text-end">
            <small class="text-end text-body-secondary">The post is awaiting approval</small>
        </div>
        {% endif %}
        <div class="row g-0">
            <div class="col-md-4 text-center">
                <img src="{{ post.image.url }}" class="img-fluid rounded" alt="{{ post.image_alt }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title post-title mb-3 pb-2">{{ post.title}}</h1>
                    <p class="card-text">{{ post.description }}</p>
                </div>
            </div>
        </div>
        <div class="row p-3 post-content">
            {{ post.content|safe }}
        </div>
        <div class="row">
            <div class="col-md-6">
                {% if post.updated_at != post.created_at %}
                <p class="card-text"><small class="text-body-secondary"><span class="fw-bold">Updated on
                        </span>{{post.updated_at}}</small></p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <p class="card-text text-start text-md-end"><small class="text-body-secondary">Posted by <span
                            class="fw-bold">{{post.user}}</span>
                        on {{post.created_at}}</small></p>
            </div>
        </div>
    </div>
    {% if request.user == post.user %}
    <div class="text-center">
        <a href="{% url 'edit_post' post.id %}" class="btn btn-light btn-outline-dark w-25 mb-2">Edit</a>
        <a href="{% url 'delete_post' post.id %}" class="btn btn-light btn-outline-dark w-25 mb-2">Delete</a>
    </div>
    {% endif %}
    <div class="my-3">
        <div class="d-flex flex-row justify-content-between">
            <h2 class="ms-3 p-2 d-block">Comments...</h2>
            {% if user.is_authenticated %}
            <!-- Button trigger modal -->
            <button id="myBtn" class="btn btn-light btn-outline-dark m-2 h-75 align-self-center" data-bs-toggle="modal"
                data-bs-target="#myCommentModal">Add comment</button>
            {% endif %}
        </div>
        <div class="d-flex flex-column-reverse">
            {% for comment in post.comments.all %}
            <div
                class="d-flex align-items-center m-2 bg-light p-2 rounded position-relative {% if not comment.approved and comment.user == user %}d-block bg-body-secondary{% elif not comment.approved %}d-none{% endif %}">
                <div class="flex-shrink-0 comment-prof-image">
                    <img src="{{ comment.user.profile.image.url }}" alt="{{ comment.user.username }}'s profile image"
                        class="img-fluid">
                </div>
                <div class="flex-grow-1 ms-3 p-2 align-self-start">
                    <h3 class="comment-author fs-6 border-bottom border-dark text-body-secondary">
                        <strong>{{comment.user.username}}</strong> |
                        {% if comment.created_at == comment.updated_at %}{{comment.created_at}}{% else %}{{comment.updated_at}}{%endif%}
                    </h3>
                    <p>{{ comment.body }}</p>
                    {% if not comment.approved and comment.user == user %}
                    <div class="text-center text-body-secondary pt-2">
                        <small>The comment is awaiting approval</small>
                    </div>
                    {% endif %}
                </div>
                {% if user.is_authenticated and comment.user == user %}
                <div class="text-center position-absolute top-0 end-0">
                    <a href="{% url 'delete_comment' comment.id %}" aria-label="Delete the comment" class="btn link-danger" data-bs-toggle="tooltip" data-bs-title="Delete the comment">X</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myCommentModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="myModalLabel">Add Comment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'add_comment' %}">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <textarea name="body" class="form-control" id="body" rows="5" cols="15"></textarea>
                        <div class="d-flex flex-row justify-content-end mt-3">
                            <button type="button" class="btn btn-light btn-outline-dark mx-2"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-light btn-outline-dark mx-2">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    // Comment Modal
    const myCommentModal = document.getElementById('myCommentModal')
    const myCommentInput = document.getElementById('body')

    myCommentModal.addEventListener('shown.bs.modal', () => {
        myCommentInput.focus()
    })
</script>
{% endblock %}