@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Fonts */
    --title: 'Playfair Display', serif;
    --sub-title: 'Halant', serif;
    --main-font: 'Roboto', serif;

    /* Colours */
    --black: #000;
    --white: #fff;
    --off-white: #f6f6f6;

    /* Utils */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: #f2d9cb;
}

/* Footer */

footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    border-top: var(--border);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* Header */

.navbar {
    background-color: var(--off-white);
    box-shadow: var(--small-box-shadow);
}

a.navbar-brand {
    width: 200px;
    padding-right: 10px;
}

a.nav-link {
    color: #592c12;
    padding-left: 10px;
}

img.logo {
    width: 100%;
}

.active {
    border-left: 2px solid #5f4e2a;
    font-weight: 500;
}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
    background-color: #00000040;
}

/* Posts */

.posts {
    text-decoration: none;
}

.posts:hover {
    cursor: pointer;
}

/* Post Detail */

.post-title {
    border-bottom: 2px solid #e99767;
}

.post-content h1,
.post-content h2,
.post-content h3 {
    text-align: center;
    padding-bottom: 8px;
}

.post-content ul {
    padding-left: 50px;
}

.post-content ol {
    padding-left: 30px;
}

.post-content ul li {
    list-style-type: none;
    list-style-position: inside;
    text-indent: -30px;
}

.post-content ul li::before {
    background-color: #e99767;
    border-radius: 7.5px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 20px;
    width: 10px;
}

/* Home */

.hero-image {
    height: 450px;
    width: 100%;
    background-image: url("/static/images/hero-image.webp");
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    background-position: 80%;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    /* Home */

    .hero-image {
        height: 350px;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Home */

    .hero-image {
        height: 400px;
    }
}


/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Form */

    .form {
        width: 75%;
    }

    /* Header */

    .a.nav-link {
        padding-left: 0;
    }

    .active {
        border-left: none;
        border-bottom: 2px solid #5f4e2a;
    }
}

/* Larger devices (laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {

    /* Home */

    .hero-image {
        height: 450px;
    }
}